<!DOCTYPE html>
<html style="height: 100%;">
  <head>
    <meta charset="UTF-8" />
    <title>Feeds</title>
    <style>
      * {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
      }
    </style>
    <!-- TODO: Don't get so much, embed CSS. -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  </head>
  <body style="margin: 0px; height: 100%;">
    <div id="example" style="height: 100%;"></div>
    <script src="{{ url_for('static', filename='scripts/bundle.js') }}"></script>
  </body>
</html>
